<a href="{[{ showQuestion(question.slug) }]}" title="{[{ question.question }]}" ng-if="question.qualified">
  <span ng-bind-html="doc.highlight.question"></span>
</a>
<span ng-if="!question.qualified">
  <span ng-bind-html="doc.highlight.question"></span><small> - attente d'une r&eacute;ponse </small>
</a>
