<ul class="list-group">
    <li class="list-group-item" ng-repeat="doc in indexVM.results.hits.hits" ng-init="loi=doc._source">
        {% include 'DwlLcddSearchBundle:Search:question_result.html.twig' %}
    </li>
</ul>
