<span>
<!-- lcddSearchFields = "['ARTICLE.BLOC_TEXTUEL.CONTENU.$t','ARTICLE.BLOC_TEXTUEL.CONTENU.p.$t']" -->
  <span ng-bind-html="loi.ARTICLE.META.META_COMMUN.NATURE.$t"></span>:<span ng-bind-html="loi.ARTICLE.META.META_SPEC.META_ARTICLE.NUM.$t"></span>
  <p>
      <span ng-bind-html="loi.ARTICLE.BLOC_TEXTUEL.CONTENU.$t"></span>
      <span ng-bind-html="loi.ARTICLE.BLOC_TEXTUEL.CONTENU.p.$t"></span>
  </p>
</span>
