{% trans_default_domain "DwlLcddSearchBundle" %}
<h1>Question id : {{id}} <small><a href="{{path('admin_lcdd_search_question_edit', { 'id': id })}}" target="_blank"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></small></h1>
<p>{{question}}</p>
